<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <!-- <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    /> -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <canvas id="canvas"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script>
      $(document).ready(function () {
        const config = {
          data: {
            labels: [],
            datasets: [
              {
                label: "Random Dataset",
                // backgroundColor: "rgb(255, 99, 132)",
                // borderColor: "rgb(255, 99, 132)",
                borderColor: "#8DB38B",
                backgroundColor: "#04724D",
                pointRadius: 5,
                data: [],
                fill: false,
                type: "line",
              },
              {
                type: "scatter",
                label: "Anomalies",
                backgroundColor: "Red",
                data: [],
                fill: true,
                showLine: false,
                pointRadius: 10,
                options: {
                  scales: {
                    x: {
                      type: "linear",
                      position: "bottom",
                    },
                  },
                },
              },
            ],
          },
          options: {
            responsive: true,
            title: {
              display: true,
              text: "Creating Real-Time Charts with Flask",
            },
            tooltips: {
              mode: "index",
              intersect: false,
            },
            hover: {
              mode: "nearest",
              intersect: true,
            },
            scales: {
              xAxes: [
                {
                  display: true,
                  scaleLabel: {
                    display: true,
                    labelString: "Time",
                  },
                },
              ],
              yAxes: [
                {
                  display: true,
                  scaleLabel: {
                    display: true,
                    labelString: "Value",
                  },
                },
              ],
            },
          },
        };

        const context = document.getElementById("canvas").getContext("2d");

        const chart = new Chart(context, config);

        const source = new EventSource("/data");

        source.onmessage = function (event) {
          const data = JSON.parse(event.data);
          var last_shifted_key = -1;
          if (config.data.labels.length === 30) {
            last_shifted_key = config.data.labels.shift();
            last_shifted = config.data.datasets[0].data[0];
            config.data.datasets[0].data.shift();
            if (last_shifted_key + 1 == config.data.datasets[1].data[0].x) {
              config.data.datasets[1].data.shift();
            }
          }
          config.data.labels.push(data.key);
          if (data.value.length == 2) {
            config.data.datasets[1].data.push({
              x: data.key,
              y: data.value[0],
            });
            config.data.datasets[0].data.push(data.value[0]);
          } else {
            config.data.datasets[0].data.push(data.value[0]);
          }
          chart.update();
        };
      });
    </script>
  </body>
</html>
